<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Favicon-->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
</head>
<body>
   <header>
    <div class="header-top">
        <div class="container clearfix">
            <div class="top-left">
                <h6>Opening Hours : 24/7</h6>
            </div>
        </div>
    </div>
    <!--header top-->
    <!--Header Upper-->
    <section class="header-uper">
        <div class="container clearfix">
            <div class="logo">
                <figure>
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="" width="130"></a>
                    @*   <a href="index.html">
                    <img src="~/images/logo.png" alt="" width="130">
                    </a> *@
                </figure>
            </div>
            <div class="right-side">
                <ul class="contact-info">
                    <li class="item">
                        <div class="icon-box">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <strong>Email</strong>
                        <br>
                        <a href="#">
                            <span>info@medic.com</span>cc
                        </a>
                    </li>
                    <li class="item">
                        <div class="icon-box">
                            <i class="fa fa-phone"></i>
                        </div>
                        <strong>Call Now</strong>
                        <br>
                        <span>+ (88017) - 123 - 4567</span>
                    </li>
                </ul>
                <div class="link-btn">
                    <a class="btn-style-one" asp-area="" asp-controller="RegistrationLogin" asp-action="ER_Registration">ER Registration</a>
                    @*  <a href="#" class="btn-style-one">Appoinment</a> *@
                </div>
            </div>
        </div>
    </section>
    </header>
    <!--Header Upper-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
