@model string;
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Medic </title>


    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Stylesheets -->
    <link href="~/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>


<body>
    <div class="page-wrapper">
        
        <!--=================================
        =            Page Slider            =
        ==================================-->
        <div class="hero-slider">
            <!-- Slider Item -->
            <div class="slider-item slide1" style="background-image:url(images/slider-bg-1.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start -->
                            <div class="content style text-center">
                                <h2 class="text-white text-bold mb-2">Patients in Queue</h2>
                                <p class="tag-text mb-5">
                                    Now Serving <strong> @Model </strong>In ER Room 001
                                </p>
                                
                                <a asp-controller="ErRegistration" asp-action="Dequeue" class="btn btn-main btn-white">Dequeue</a> <!--Direct to dequeue controller action and updated/refresh the now serving and next-->
                            </div>
                            <!-- Slide Content End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--====  End of Page Slider  ====-->

        <section class="cta">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cta-block">
                            <div class="emmergency item">
                                <h2>Emegency Cases</h2>
                                <h2>(082) - 911</h2>
                                <p>To request an ambulance, please dial the number above.</p>
                            </div>
                            <div class="top-doctor item">
                                <h2>24 Hour Service</h2>
                                <p>Our Emergency room is open 24/7 because your health is our priority</p>
                
                            </div>
                            <div class="working-time item">
                                <h2>Working Hours</h2>
                                <ul class="w-hours">
                                    <li>Mon - Fri  - <span>8:00 - 17:00</span></li>
                                    <li>Mon - Fri  - <span>8:00 - 17:00</span></li>
                                    <li>Mon - Fri  - <span>8:00 - 17:00</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!--End pagewrapper-->
    <script src="~/plugins/bootstrap.min.js"></script>
    <script src="~/plugins/bootstrap-select.min.js"></script>
</body>

</html>

